.loading {
  display:none
}
#meal-details{
  display: none;
}
#products-section{
  display: none;
}
#foodlog-section{
  display: none;
}
#log-meal-modal{
  display: none;
}
#serving-model{
  display: none;
}
.active{
background-color:oklch(0.979 0.021 166.113);
color:oklch(0.508 0.118 165.612);
}